doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        title COOM
    body 
        header 
            h1 COOM
        main 
            div#welcome 
                form
                    input#roomName(placeholder="Room name", required, type="text")
                    input#nickName(placeholder="Nickname", required, type="text")
                    button Enter
            div#room 
                h3 
                ul 
                form#changeName 
                    input(placeholder="Nickname", required, type="text")
                    button Save
                form#msg
                    input(placeholder="message", required, type="text")
                    button Send
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")