doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css")
        link(rel="stylesheet", href="./public/css/styles.css")
        title COOM
    body 
        header 
            h1 COOM
        main
            div#welcome
                form 
                    input#roomName(placeholder="Room Name", required, type="text")
                    input#name(placeholder="User Name", required, type="text") 
                    button ENTER
            div#call
                div#myStream
                    video#myFace(autoplay, playsinline, width="400", height="400")
                    div#controls
                        button#mute Mute
                        button#camera CAM OFF
                        select#cameras
                            option(value="device") Device Cameras
                div#chatBox
                    form
                        input(placeholder="Send a message", required, type="text") 
                    #chat 
                        ul 
                video#peerFace(autoplay, playsinline, width="400", height="400")
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")